OPENAI_API_KEY=""
LANGSMITH_API_KEY=""
LANGSMITH_TRACING="true"
LANGSMITH_PROJECT="capstone-arxiv-copilot"
# if on EU instance, otherwise leave commented out
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
